:root {
    --green-color: #90ee90;
    --gray-color:  #D8D8D8;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

* {
    transition: all .1s ease-in-out;
    color: white;
    margin: 0;
    font-family: 'Quicksand', 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

h1 {
    font-size: 40px;
}

.loser {
    color: red;
}
.winner {
    color: green;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.gamePrompt > h1, .gamePrompt h2 {
    color: black;
    font-size: 30px;
    text-align: center;
}

.gamePrompt h2 {
    font-size: 24px;
}

.gamePrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 20px -5px white;
    border-radius: 15px;
    padding: 30px 60px;
    gap: 30px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.formArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.inputWrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.inputWrapper > input {
    transition: all .15s ease-in-out;
    border: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    color: black;
    font-size: 16px;
    text-align: center;
}

.inputWrapper > input:focus {
    outline: solid black thin;
    box-shadow: 0px 0px 15px -5px black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.playerDisplay p {
    font-size: 24px;
}

.playerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 50px 25px;
    width: max(10%, 200px)
}

.boardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.boardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid white;
}

.cell {
    font-size: 40px;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.btn {
    font-size: 28px;
    padding: 10px 20px;
    font-weight: 700;
    background-color: #ffffff;
    color: black;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px -5px black;
}

.submitBtn {
    position: static;
    transition: all .1s;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 15px -5px black;
    border: 2px solid white;
}

.submitBtn:hover {
    border: 2px solid black;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px 0px black;
}

.playBtn {
    transition: all .05s;
}

.playBtn:hover {
    background-color: #90ee90cb;
    box-shadow: 0px 0px 5px 0px var(--green-color);
    cursor: pointer;
}

.playBtn:active {
    background-color: var(--green-color);
    box-shadow: 0px 0px 15px 0px var(--green-color);
}

.disabled {
    display: none;
}